[submodule "WithHookahOrg/odoo-15"]
	path = WithHookahOrg/odoo-15
	url = git@github.com:WithHookahOrg/odoo-15.git
	branch = 14.0

[submodule "WithHookahOrg/brand"]
	path = WithHookahOrg/brand
	url = git@github.com:WithHookahOrg/brand.git
	branch = 14.0

[submodule "WithHookahOrg/helpdesk"]
	path = WithHookahOrg/helpdesk
	url = git@github.com:WithHookahOrg/helpdesk.git
	branch = 14.0

[submodule "WithHookahOrg/mis-builder"]
	path = WithHookahOrg/mis-builder
	url = git@github.com:WithHookahOrg/mis-builder.git
	branch = 14.0

[submodule "WithHookahOrg/partner-contact"]
	path = WithHookahOrg/partner-contact
	url = git@github.com:WithHookahOrg/partner-contact.git
	branch = 14.0
